@media screen and (max-width: 600px) {
	ul#navbar li {
		float: none;
		width: 100%;
		font-size: 3rem;
	}
	ul#navbar2 {
	flex-direction: column;
	flex-wrap: wrap;
}
ul#navbar2 .cell {
	width: 100%;
}

}
#navbar2 {
	list-style-type: none;
	margin: 0;
	text-align: center;
	padding: 0;
	font-size: 2rem;
	display: flex;
	justify-content: space-between;
}
.cell {
	width: 30%;
	height: auto;
	background-color: #1C1C1C;
	border: .2rem solid #FFFFFF;
}
#navbar2 li a {
	display: block;
	padding: 4% 0 4% 0;
}
#navbar2 a:link {
	color: #FFFFFF;
	text-decoration: none;
}
#navbar2 a:visited {
	color: #FFFFFF;
}
#navbar2 a:hover {
	background-color: black;
}
.hidden {
	visibility: hidden;
}
.welcome p {
  text-align: center; 
}
.welcome h1 {
  text-align: center; 
}
.welcome {
  background-color: #45AE7D; 
  min-height: 55vh;
  padding-top: 45vh;
}
.work {
   padding-top: 60px;
  margim-top:-60px;
}
.trabajo {
  text-align: center; 
}
.videocontainer {
  overflow: hidden;
  padding-top: 2%;
  position: relative;
}
.videocontainer iframe {
   border: 0;
   height: 80%;
   left: 0;
   position: center;
   top: 0;
}
#header img {
  width: 100%;
	height: auto;
	margin-bottom: 1%;
}
#column {
	width: 960px;
	height: auto;
	background-color: #0B0B3B;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid #8A0808;
	padding: 10px 20px 10px 20px;
	overflow:auto;
	}
