main {
display: flex;
flex-direction: column;
align-items: center;
}
.container {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.scene {
width:220px;
height:240px;
border: 1px solid #ccc;
margin: 4px;
perspective: 600px;
}

.card {
text-align: center;
text-shadow: 0 0 5px #FFD700;
width: 100%;
height: 100%;
transition: transform 1s;
transform-style: preserve-3d;
cursor: pointer;
position: relative; 
background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.card:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card.is-flipped {
transform: rotateY(180deg);
}

.card__face{
position: absolute;
width: 100%;
height: 100%;
text-align: center;
backface-visibility: hidden; 
}

.card__face--back {
text-align: center;
transform:rotateY(180deg);  
background-image: linear-gradient(to right, #3F42B1 0%, #E81A49 100%);
}

figure {
margin: 0px;
padding: 4px;
}

.box {
height: 140px;
width: 120px;
margin: 10px;
}

img {
padding: 4px;
width: 180px;
height: 180px;
}

.backImage {
position: absolute;
left: 6px;
opacity: 0.25;
}

.infoDiv {
position: relative;
}

header {
text-align: center;
}

button {
width: 300px;
height: 80px;
font-size: 1.5rem;
background-color: #696664;
color: rgb(19, 32, 216);
padding: 10, 0, 10, 0;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.poison:hover {
  box-shadow: 0 12px 16px 0 purple
  }
  .normal:hover {
    box-shadow: 0 12px 16px brown
    }
    .water:hover {
      box-shadow: 0 12px 16px 0 blue
      }
      .grass:hover {
        box-shadow: 0 12px 16px 0 green
        }
        .flying:hover {
          box-shadow: 0 12px 16px 0 skyblue
          }
          .fire:hover {
            box-shadow: 0 12px 16px 0 red
            }
            .fairy:hover {
              box-shadow: 0 12px 16px pink
              }
              .electric:hover {
                box-shadow: 0 12px 16px yellow
                }
                .psychic:hover {
                  box-shadow: 0 12px 16px blueviolet
                  }
                  .ice:hover {
                    box-shadow: 0 12px 16px midnightblue
                    }
                    .steel:hover {
                      box-shadow: 0 12px 16px grey
                      }
                      .dark:hover {
                        box-shadow: 0 12px 16px black
                        }
                        .fighting:hover {
                          box-shadow: 0 12px 16px 0 orangered
                          }
                          .ground:hover {
                            box-shadow: 0 12px 16px 0 tomato
                            }
#header img {
  width: 100%;
	height: auto;
	margin-bottom: 1%;
}
#column {
	width: 100%;
	height: auto;
	background-color: #45AE7D;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 20px 10px 20px;
	overflow:auto;
	}
